<style>
  .imagenes{
    width: 300px;
  }
</style>
<div class="container">
<p>
  <strong>Nombre:</strong>
  <%= @trip.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @trip.descripcion %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @trip.tarifa %> COP
</p>

<p>
  <strong>Duracion:</strong>
  <%= @trip.duracion %> mins
</p>

<% @trip.images.each do |i| %>
<%= image_tag(i, class:"imagenes") %>
<% end %>
<br><br>

<% if current_user.email == @trip.user.email %>
<%= link_to 'Editar', edit_trip_path(@trip) %> |
<%= link_to 'Borrar', trips_path, method: :delete %> |
<% else %>
<%= link_to 'Contactar guia' %> |
<% end %>
<%= link_to 'Voler',trips_path %>
</div>
